@font-face {
  font-family: iosevka-nerd-term;
  src:url("../fonts/IosevkaTermNerdFontMono-Regular-Subset.ttf");
}

html {
  height: 95%;
  border: solid;
  border-radius: 1rem;
  border-color: rgb(61, 0, 204);
  margin: 1rem;
  background-color: black;
  font-size: clamp(12px, 2vw, 16px);
  color: rgb(142, 205, 0);
  font-family: iosevka-nerd-term;
}

.container {
  width: 90%;
  max-height: 100vh;
  margin: 0 auto;
  overflow-y: auto;
}

header {
  font-size: clamp(12px, 2.5vw, 20px);
  padding: 1rem 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 1.5rem;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: white;
}

.person {
  display: block;
  margin-bottom: 0.5rem;
}

.person-name {
  margin: 0;
}

.person-title, .person-institution {
  display: inline-block;
  margin: 0;
}

.event {
  display: block;
  margin-bottom: 0.5rem;
}

.event-person, .event-title, .event-date, .event-link {
  display: inline-block;
  margin: 0;
}
